/* all global style */

.App {
  text-align: center;
}

.link{
  border: 1px solid blue;
  padding: 5px 13px;
  text-decoration: none;
  color: black;
}
.l-sp-3{
  line-height: 2rem;
  text-align: justify;
}
.text-blue{
  color: #0000FF;
}
.add-to-cart{
  background: #F0C14B;
  color: #fff;
  padding: 9px 25px;
  border-radius: 9px;

}